@charset "UTF-8";
body{
    background-image: url(BACK.jpg);
    /*background-color: #b8d2e1;*/
    background-size: 100%;
    background-repeat: repeat-y;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}
#weblink{
    margin-top: -15px;
    width: 50%;
    height: 3%;

    margin-left: 50%;
}
header{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 25px;
    margin-top: 0%;
    background-color: #9eabc7;
    color: #ffffff;
    font-family: serif;
    
}
h5{
    font-family:ＭＳ ゴシック;
}
#strt{
    margin-top: 25px;
}
#kitaakari{
    margin-top: -80pX;
    color: aliceblue;
    width: 100%;
    height: 25%;
}
#like{
    margin-top: -80px;
    margin-left: 50px;
}
#main{
    margin-top: 25px;
}
#imgs{
    margin-left: 5%;
    padding-top: 10px;
    width: 90%;
    height: 100%;
    background-color:#ffffff;
}

#blogleft{
    padding: 5px;
    background-color:#ededed;
    margin-left: 20%;
    width: 25%;
    height: 20%;
    float:left;
}
#blogright{
    padding: 5px;
    background-color:#ededed;
    margin-left:8%;
    float:left;
    width: 25%;
    height: 20%;
    top: 0;
}
.piclist{
   display: flex;

    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
    width:43.5%;
    aspect-ratio: 15/3;
}

.syoukai{
    margin-left: 25%;
  right: 0;
    width: 30%;
    aspect-ratio: 16/3;

    object-fit: cover;
    padding-top: 5%;
}
.picimg{
    width: 80%;
}
.syoukaitxt{
    width:fit-content
    font-family: ＭＳ Ｐ明朝;
    line-height: 130%;
    font-size: 100%;
    text-align: right;
    vertical-align:bottom;
    bottom: fit-content;
}
.seiretu1{
    aspect-ratio: 14:8;
    width: 100%;
    display:flex;

    margin-top: -2%;
}
.likebox{
    width: 40%;
    height: 30%;
    margin-top: 0%;
    background-color: rgba(210, 221, 226, 0.626);
    /*background-color: #9eabc7;*/
    margin-left: 0;
}



.container{
    position: fixed;
    top: 0px;
    left: 0; 
    width: 100%;
    aspect-ratio: 5/2;
    position: relative;
    z-index: -5;
  }
.image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-size: cover;
    background-position: center center;
    
    animation: image-switch-animation 20s infinite;
  }
  .baner1{
    background-image:url(baner1.jpg);
  }
  .baner2{
    background-image: url(baner2.jpg);
  }
  @keyframes image-switch-animation {
    0%{ opacity: 0;}
    5%{ opacity: 1;}
    30%{ opacity: 1;}
    50%{opacity: 1;}
    55%{opacity: 0;}
    100%{ opacity: 0;}
  }
    
  .image:nth-of-type(1) {
    animation-delay: 0s;
  }
  .image:nth-of-type(2) {
    animation-delay: 10s;
  }
